<html>

            <body bgcolor="skyblue">


            <title>REGISTER COMPLAINTS</title>
            
             <table border=0 align="center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <center>
                <h1>REGISTER COMPLAINTS</h1>
                </center>>

                <tr><td><b>UserName</b></td>
                <td><br><input type="text" name="username" ></td></tr>
            
                <tr><td><b>Ownername</b></td>
                <td><br><input type="text" name="ownername" ></td></tr>

                <tr><td><b>Contact</b></td>
                <td><br><input type="text" name="contact" ></td></tr>


            
                <tr><td><b>Turfdetails</b></td>
                <td><br><input type="text" name="turfdetails" ></td></tr>
                
                <tr><td><br><b>Complaint</b></td>
                <td><br><textarea name="complaint" cols="23" rows="5"></textarea></td></tr>
            
               
                
                <tr><td><b>     </b></td>
                <td><input type="submit" value="submit" /></td></tr>
                </form>
            </table>
            </body>
            


            </html>








	





















































































































































































































































