<html>
<head>
<meta charset="UTF-8">
<title>Details</title>
</head>
<body>
<h1>DETAILS</h1>
<table border="1" width="600">
<tr>
<td>Name</td>
<td>place</td>
<td>cost</td>
<td>Image File</td>
<td>contact</td>
<td>email</td>
<td>remarks</td>
</tr>
<br><br>
<a href="{{ MEDIA_URL }}{{ filepath }}" target="_blank">{{ filename }}</a>
<br><br>
</p>
</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh-mt'},{'server':'p3plmcpnl487010'},{'id':'8437534'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
</table>
</html>